@tailwind base;
@tailwind components;
@tailwind utilities;
html{scroll-behavior: smooth;}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('../public/fonts/Inter-Regular.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }
  body {
    @apply bg-background text-foreground;
  }

}

/* scrollbar.css */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as per your preference */
}

::-webkit-scrollbar-track {
  background-color: #000; /* Adjust the background color */
}

::-webkit-scrollbar-thumb {
  background-color: #f1f1f1; /* Adjust the thumb color */
  border-radius: 4px; /* Adjust the border radius */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Adjust the thumb color on hover */
}

model-viewer {
  width:inherit;
  height:inherit;
  background-color: transparent;
    --poster-color: transparent;
    --progress-mask: #000;
    outline: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
  
}
.button-gradient {
  background: linear-gradient(165deg, rgb(61,61,194) 0%, rgba(135, 135, 255, 1) 100%);
  cursor: pointer;
}
.bg-gradient {
  background: linear-gradient(165deg, rgb(61,61,194) 0%, rgba(135, 135, 255, 1) 100%);
}

.articles a {
  color: #8787f7;
  text-decoration: underline;
}
.articles ul {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: disc;
  list-style-type: disc;
  margin-left: 20px;
  padding-left:40px;
}
.articles li:not(:last-child) {
  margin-bottom: 15px;
}
.articles p {
  margin: 0.5rem 0;
}
.articles h3 {
  font-size: 1.8rem;
  margin: 1.5rem 0;
  font-weight: 600;
}
.slot.ar-button {
  display: none !important;
}

.fogOverlay1 {
  animation: fogAnimation1 2s ease-out forwards; 
}

@keyframes fogAnimation1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fogOverlay2 {
  animation: fogAnimation2 2s ease-out forwards;
}

@keyframes fogAnimation2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}